@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Permanent+Marker&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to right, rgba(240, 172, 94, 0.932) , rgb(233, 111, 121));

}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

}

/* styles for container elements centered in row  */
/* nav bar */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #8d8989;
    background-image: linear-gradient(to right, rgba(240, 172, 94, 0.932) , rgb(233, 111, 121));
    z-index: 999;
    box-shadow: 0 5px 5px rgba(153, 51, 51, 0.2);
}
.nav a {
    margin: 15px 60px;
    text-decoration: none;
    color: #333333;
    font-weight: 600;
}

.nav a:hover {
    color: #fff;
}

/* box-header: picture, text and icons centered in column */

#box-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 48px;
    padding: 90px 0 60px 0;
    color: #333333;
}

#box-header img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-bottom: 20px;
    box-shadow: 0 10px 30px rgba(153, 51, 51, 0.6);
}

#box-header h1 {
    font-size: 45px;
    font-family: 'Permanent Marker', cursive;
}

#box-header p:first-of-type {
    padding: 10px 0 5px 0;
    font-size: 19px;
}

.header-links a {
    color: rgba(51, 51, 51, 0.6);
    display: inline-block;
    margin: 5px 15px;
    font-size: 30px;
}

.header-links a:hover {
    color: #fff;
}

.header-links a i:last-child {
    font-size: 27px;
}


/* main : projects and about me*/

main {
    position: relative;
    top: 48px;
    padding: 0 140px;
}

/* section projects */

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	padding: 30px 40px;
    background-color: #fff;
    background-image: linear-gradient(#f2f2f2,#fff);
    border-radius: 15px;
    box-shadow: 0 10px 30px #993333;
    text-align: left;
}

h2 {
    text-align: center;
    font-size: 26px;
    color: #333333;
    padding-top: 20px;
    font-family: 'Permanent Marker', cursive;
} 

.box-projects-top p {
    padding: 7px 50px;
    font-size: 18px;
    color: #333333;
    line-height: 1.6;
}

.box-projects-top p:first-of-type {
    padding-top: 30px;
}

.box-projects-top p:last-of-type {
    padding-bottom: 30px;
}

.box-projects {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;	
}

.project-tile {
	width: 400px;
	margin: 50px 20px;	
	color: #333333;
    text-align: center;	
    border: 1px solid rgb(223, 221, 221);
    box-shadow: 0 0 10px rgba(136, 136, 136, 0.4);
    border-radius: 10px;
}

.project-tile p {
    font-size: 14px;
    padding: 15px 0;
}

.project-tile img:hover {
	opacity: 0.6;
}

/* section aboutme */

#aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    padding: 30px 40px 50px 40px;
    text-align: left;
    
}

.aboutme-text p {
    padding: 7px 50px;
    font-size: 18px;
    color: #333333;
    line-height: 1.6;
}

.aboutme-text p:first-of-type {
    padding-top: 30px;
}

.aboutme-text p:last-of-type {
    padding-bottom: 30px;
}

.combo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 0 10px 30px #993333;
}

.combo img {
    height: auto;
    max-width: 100%;
    margin: 0 15px;
}

/* footer */

footer {
    position: relative;
    top: 48px;
    padding: 10px 0;
    margin-top: 20px;
    color: #ccc;
    background-color: #333;
    width: 100%;
    text-align: center;
    font-size: 12px;
}

/* media queries for small devices */

@media only screen and (max-width: 600px) {

    .nav a {
        margin: 15px;
    }

    #box-header h1 {
        font-size: 39px;
    }


    main {
       display: flex;
       flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    
    #projects {
        padding: 30px 0;
        margin: 0;
        width: 355px;
        border-radius: 10px;
    }

    .box-projects-top {
        padding: 30px 0;
    }

    .box-projects-top p {
        padding: 7px 20px;
    }
   
    .box-projects {
        flex-direction: column;
        justify-content: center;
        align-items: center;
		flex-wrap: nowrap;
    }

    
    .project-tile {
        width: 335px;
        margin: 30px 0;
    }


    #aboutme {
        padding: 30px 0 50px 0;
        margin: 0;
         
    }

    .aboutme-text {
        padding: 30px 0;
    }


    .aboutme-text p {
        padding: 7px 20px;
    }

    .combo {
        padding: 20px 0;
        width: 355px;
        border-radius: 10px;
    }
    .combo img {
        margin-top: 5px;
        margin-bottom: 5px;
    }


}